<!doctype html>
<html>
  <head>
  </head>
  <body>
	<h1> Welcome to the "Compute the odds Web Application".</h1>
	<h2> Computation of the odds:</h2>
	<p> To compute the odds for a given empire.json, you should send the json via curl or postman (see the README.md), then refresh the page between each new request.</p>
	<p style="font-size:160%; color:red;"> 
		{% if n_explored_path %}
		The Millenium Falcon has probability of {{percentage}} % to save the galaxy.		
		{% endif %}		
	</p>
	<p> 
		{% if path %}
		{{ path }}
		{% endif %}		
	</p>
	<p> 
		{% if n_explored_path %}
		Number of scanned path in the galaxy:
		{{ n_explored_path }}	
		{% endif %}	
	</p>
  </body>
</html>
